@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-secondary-200;
  }
  body {
    @apply bg-secondary-50 text-secondary-900 font-sans;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
